---
layout: default
---

<div class="posts">
    <div class="tags">
        {% for tag_data in site.data.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag_data.slug }}" class="tag" />{{ tag_data.name }}</a>
        {% endfor %}
    </div>

    {% for post in site.posts %}
    <span class="date">{{ post.date | date_to_string }}</span>
    <h1 class="title" style="border-bottom: 0px">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% endfor %}
</div>
