
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$lightBlue: #b3d7fe;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$andale: Andale Mono, monospace;
$comic: Comic Sans MS, Comic Sans, cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}